.formulario-wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: url('../../../assets/Contact/ContactFrom/environmental-8029976.jpg') no-repeat center center/cover;
  box-sizing: border-box;
  padding: 2rem 0;
}

.formulario-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(174, 174, 174, 0.605);
  z-index: 1;
}

.formulario-wrapper > * {
  position: relative;
  z-index: 2;
}

.formulario-wrapper h2 {
  margin-bottom: 4rem;
  color: #fff;
  font-size: 4.2rem;
  text-shadow: 6px 6px 6px rgba(0, 0, 0, 0.881);
  text-align: center;
}

.contact-container {
  display: flex;
  max-width: 1000px;
  background-color: #f9f9f9e6;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.6);
  padding: 4rem;
  border-radius: 8px;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  position: relative;
  z-index: 1;
  flex-direction: column;
}

.contact-info {
  flex: 1;
  text-align: left;
  margin-bottom: 2rem;
}

.contact-form-title,
.contact-info h3 {
  margin-top: 0;
  font-size: 2rem;
  margin-bottom: 2rem;
  color: #2ed195;
}

.contact-info p {
  margin: 1.4rem 0;
  font-size: 1.2rem;
  color: #5b5b5b;
}

.social-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.contact-form {
  flex: 1;
  text-align: left;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  transition: all 0.3s ease;
  margin-bottom: 1rem;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #aaa;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
  border-color: #34d399bd;
  box-shadow: 0 0 6px #2ed195;
}

.contact-form textarea {
  resize: none;
  height: 100px;
}

.contact-form button {
  margin-top: 1rem;
  padding: 0.3rem 1rem;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 0.3rem;
  font-size: 1.1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.482);
  color: white;
  background-color: #2ed195;
  width: 100%;
  font-weight: bold;
}

.contact-form button:hover {
  background-color: #34d399bd;
}

.modal {
  position: fixed;
  top: 5rem;
  right: 3rem;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 10px;
  border: 2px solid #2ed195; /* Borde verde */
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 1;
  transform: translateY(0);
}

.modal-content {
  text-align: center;
  color: #2ed195;
  font-weight: bold;
}

.modal-submitting {
  border: 2px solid rgb(123, 214, 3);
}

.modal-submitting .modal-content p {
  color: rgb(123, 214, 3);
}

.modal.fade-out {
  opacity: 0;
  transform: translateY(-20px);
}

/* Media Queries for Responsive Design */
@media (min-width: 769px) {
  .modal {
    top: 6rem;
    right: 3rem;
    padding: 15px;
  }

  .contact-container {
    flex-direction: row;
    align-items: flex-start;
  }

  .contact-info {
    text-align: left;
    margin-bottom: 0;
  }

  .contact-form {
    text-align: left;
  }

  .contact-form form {
    align-items: flex-start;
  }

  .contact-form input,
  .contact-form textarea {
    max-width: 100%;
  }

  .social-icons {
    justify-content: flex-start;
    text-align: center;
  }

  .formulario-wrapper h2 {
    margin-top: 6rem;
  }
}

@media (max-width: 768px) {
  .modal {
    top: 6rem;
    right: 3rem;
    padding: 15px;
  }

  .formulario-wrapper {
    padding: 3rem 0;
  }

  .formulario-wrapper h2 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    margin-top: 6rem;
  }

  .contact-container {
    padding: 2rem;
    align-items: center;
  }

  .contact-info {
    margin-bottom: 0;
  }

  .contact-info h3,
  .contact-form-title {
    font-size: 1.5rem;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 14px;
  }

  .contact-form button {
    font-size: 1rem;
  }

  .contact-info,
  .contact-form {
    text-align: center;
  }

  .social-icons {
    justify-content: center;
  }
}
